.separator{
    
}

.btn{
    width:100px;
    height:300px;
    position: absolute; 
}
.borderTransparent{
    border: transparent;
}

#player1{
    top: 0px;
    left:0px;
}

#player2{
    top:0px;
    left:300px;
}
#mainContainer{
    position: relative;
    width: 399px;
    height: 300px;
    background-color:#e8e8e8;
    border: 2px solid green;
    font-size:55px;
    text-align:center;
}

.timer{
    width:150px;
    height:80px;
    border:1px solid green;
    background-color:#ff3300;
    position: absolute;
    left:132px;
}
#timer1{
    top:30px;
    padding-top:20px;
}

#timer2{
    top:190px;
    padding-top:20px;
}
.separator #player1logo{
    font-size:17px;
}
.stopTimer{
    background-color:#e8e8e8;
    padding:2px;
}
.

.absolutePosition{
    position: absolute;
}
.relativePosition{
    position: relative;
}

.border-radius-min{
    border-radius: 6px;
}   

.padding-mid{
    padding: 10px;
}

.verticalAlignMain{
    display: table;
}
.verticalAlign{
    display: table-cell;
    vertical-align: middle;
}

.marginRight-min{
    margin-right: 10px;
}
.marginTop-min{
    margin-top: 10px;
}
