.separator{
    background-color: blue;
}

.btn{
    width:100px;
    height:300px;
    position: absolute;
}

#player1{
    position: absolute;
    top: 0px;
    left:0px;
    background-color: #ff3300;
}

#player2{
    position: absolute;
    top:0px;
    left:300px;
    background-color: #ff3300;
}
#mainContainer{
    position: relative;
    width: 400px;
    height: 300px;
    background-color:#e8e8e8;
    border: 2px solid green;
    font-size:55px;
    text-align:center;
}

.timer{
    width:150px;
    height:80px;
    border:1px solid green;
    background-color:#ff3300;
    position: absolute;
    left:132px;
}
#timer1{
    top:30px;
    padding-top:20px;
}

#timer2{
    top:190px;
    padding-top:20px;
}
.separator #player1logo{
    font-size:17px;
}
.stopTimer{
    height: 25px;
    background-color:yellow;
    width: 85px;
    padding:2px;
    text-align:center;
    left:270px;
}

.absolutePosition{
    position: absolute;
}
.relativePosition{
    position: relative;
}   