body{
	padding: 0px;
	margin: 0px;
}
header{
	width: 90%;
	height: 20%;
	margin: 0px auto;
	padding: 0 10px 0;
	border: 1px solid #e8e8e8;
	background: #abe;
}

header h1{
	text-align: center;
	
}

header nav{
	height: 12px;
	padding: 2%;
}

nav a{
	text-decoration: none;
	margin: 5%;
	border: 1px solid #e8e8e8;
	padding: 1% 5%;
	background: #fff;
}