html{
	display: table;
	height: 100%;
	margin: auto;
}

body{
	background-image: url(../img/chessboard.jpg);
	display: table-cell;
	vertical-align: middle;
}

#chessTimerMainContainer{
	background-size: 559px 429px;
	
}